
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #fdfcf9;
}


.header {
  max-width: 1200px;
  margin: auto;
  padding: 20px 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #5d5f79;
}

.nav-links a:hover {
  color: #f15d51;
}

.hero {
  max-width: 1200px;
  margin: auto;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.hero-top {
  display: flex;
  gap: 30px;
}

.hero-left {
  flex: 2;
}

.hero-image {
  width: 100%;
}

.hero-content {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.hero-content h2 {
  font-size: 48px;
  line-height: 1.1;
}

.hero-text p {
  color: #5d5f79;
  margin-bottom: 20px;
  line-height: 1.6;
}

.hero-btn {
  background-color: #f15d51;
  color: white;
  border: none;
  padding: 12px 25px;
  letter-spacing: 3px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #00001a;
}


.hero-right {
  flex: 1;
  background-color: #00001a;
  padding: 25px;
  color: white;
}

.hero-right h3 {
  color: #e9ab53;
  font-size: 32px;
  margin-bottom: 20px;
}

.news-item {
  margin: 20px 0;
}

.news-item p {
  color: #c5c6ce;
  font-size: 14px;
}

.hero-right hr {
  border: 1px solid #5d5f79;
}


.hero-bottom {
  display: flex;
  gap: 30px;
}

.bottom-card {
  display: flex;
  gap: 20px;
}

.bottom-card img {
  width: 100px;
}

.bottom-text span {
  font-size: 32px;
  color: #c5c6ce;
  font-weight: bold;
}

.bottom-text h4:hover {
  color: #f15d51;
  cursor: pointer;
}

.bottom-text p {
  color: #5d5f79;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero-top {
    flex-direction: column;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-bottom {
    flex-direction: column;
  }

}

