:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 62%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 0 10%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: underline;
  color: var(--very-dark-blue);
}

.nav-links a:hover {
  color: var(--soft-red);
}

.menu-icon {
    display: none;
}

.hero {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.hero-left {
  flex: 2;
}


.web3-img {
  width: 100%;
  display: block;
}


.hero-content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.hero-title {
  flex: 1;
}

.hero-title h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
}

.hero-text {
  flex: 1;
}

.hero-text p {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  margin-bottom: 30px;
}


.hero-btn {
  background-color: var(--soft-red);
  color: white;
  border: none;
  padding: 15px 35px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
}


.hero-right {
  flex: 1;
  background-color: var(--very-dark-blue);
  padding: 30px 25px;
  color: white;
}

.hero-right h2 {
  color: var(--soft-orange);
  font-size: 40px;
  margin-bottom: 20px;
}

.news-item h3 {
  margin-bottom: 10px;
  cursor: pointer;
}

.news-item h3:hover {
  color: var(--soft-orange);
}

.news-item p {
  color: var(--grayish-blue);
  font-size: 15px;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background: var(--dark-grayish-blue);
  margin: 30px 0;
}

.hero-bottom {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.card-row {
  display: flex;
  gap: 20px;
  flex: 1;
  align-items: center;
}

.card-row img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number {
  color: var(--grayish-blue);
  font-size: 32px;
  font-weight: 700;
}


.hover-orange:hover {
  color: var(--soft-red);
  cursor: pointer;
}

@media (max-width: 768px) {

  body {
    padding: 0 5%;
  }

  .nav-links {
    display: none;   
  }
  
  .hero {
    flex-direction: column;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-bottom {
    flex-direction: column;
  }

  .hero-title h1 {
    font-size: 36px;
  }

  .menu-icon {
    display: block;
  }
}






