body {
  font-family: "Poppins", sans-serif;
  background: #e5e8ec;
}
.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 40px;
}
.desc {
  color: gray;
  margin-bottom: 40px;
}
.cards { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 20px 60px;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

.card{
  position: relative;
  width: 250px;
  height: 175px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(199, 187, 206);
}

.card img{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}
    
.middle{
  display: flex ;
  flex-direction: column;
  gap: 30px;
}
.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%); 
}
.team {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%); 
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%); 
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}